/.idea/
**/.idea/
/examples/basic-auth-example/common/models/*.casbin.dump.conf
/examples/basic-auth-example/common/models/*.policies.csv
/westack/tests/common/models/*.casbin.dump.conf
/westack/tests/common/models/*.policies.csv
/examples/basic-auth-example/basic_model.conf
/westack-go.iml
/deletetags.sh
/westack/tests/data/swagger.json
/examples/westack-go-example/data/swagger.json
/examples/westack-go-example/common/models/*.policies.csv
/results.json
