/.idea/
**/.idea/
/examples/basic-auth-example/common/models/*.casbin.dump.conf
/examples/basic-auth-example/common/models/*.policies.csv
/v2/tests/common/models/*.casbin.dump.conf
/v2/tests/common/models/*.policies.csv
/examples/basic-auth-example/basic_model.conf
/v2-go.iml
/deletetags.sh
/v2/tests/data/swagger.json
/examples/westack-go-example/data/swagger.json
/examples/westack-go-example/common/models/*.policies.csv
/results.json
/v2/tests/output.test
/coverage.summary.txt
/coverage.txt
/test_output.txt
/v2/tests/data/coverage/
/v2/tests/data/*.policies.csv
/v2/tests/data/*.casbin.dump.conf
westack/tests/server/datasources.TESTING_PUBLIC.json
*.wst.go